.modal {
    &__backdrop {
        position: absolute;  
        background: rgba(130,130,130,.5);
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        right: 0;
        &_size {
            &_content {
                width: 80%;
                height: calc(100vh - 150px);
                
            }

            &_absolute {
                width: 100%;
                height: 100%;
            }

        }
    }

    &__card {
        position: relative;
        background: white;
        padding: 30px 20px 0px 30px;
        &_size {
            &_medium {
                width: 70%;
                height: 300px;
            }

            &_large {
                width: 70%;
                height: 550px;
            }
        }
    }

    &__close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: white;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
        top: -15px;
        right: -15px;
    }

    &__footer {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        bottom: 0;
        right: 0;
        background: #88C057;
        padding-right: 30px;
        box-sizing: border-box;
        &__cancel {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 50px;
            border-radius: 10px;
            color: white;
            font-size: 16px;
            letter-spacing: 0.03em;
            font-weight: 600;
            border: none;
            background: transparent;
            transition: all .4s linear;
            cursor: pointer;
            &:hover {
                background: white;
                border-radius: 30px;
                color: #88C057;
            }
            
        }

        &__action {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 50px;
            margin-left: 15px;
            color: rgb(34, 34, 34);
            font-size: 16px;
            letter-spacing: 0.03em;
            font-weight: 600;
            border: none;
            border-radius: 30px;
            transition: all .4s linear;
            cursor: pointer;
            &:hover {
                box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.3);
                color: rgb(235, 51, 51);
                svg {
                    fill:rgb(235, 51, 51);
                }
            }
            svg {
                margin-right: 15px;
                width: 13px;
                height: 13px;
                fill: rgb(34, 34, 34);
                transition: all .4s linear;
            }
        }
    }

    &__groups {
        div{
            max-height: 300px;
        }
        h2{
            margin: 0 0 36px 0;
        }

        &__current{
            border: 1px solid rgb(61, 61, 255);
            border-radius: 8px;
            margin: 5px 0;
            padding: 5px;
            box-sizing: border-box;
            margin-right: 5px;
        }

        &__footer{
            height: 140px;   
        }
    }

    &__product {
        &__footer{
            height: 150px;
        }
        
    }

    &__orders {
        h2{
            margin: 0;
            margin-bottom: 35px;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            input[type=text]{
                height: 40px;
                border-radius: 8px;
                padding: 10px;
                box-sizing: border-box;
                margin: 0 auto;
                margin-bottom: 15px;
                width: 300px;
            }
            label.product_label{
                display: flex;
                input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                }
                input+label {
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                }
                input+label::before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1px solid #adb5bd;
                    border-radius: 0.25em;
                    margin-right: 0.5em;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                }
                input:checked+label::before {
                    border-color: #0b76ef;
                    background-color: #0b76ef;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                  }
            }
        }

        &__products{
            height: 200px;
        }
        &__footer {
            height: 150px;
        }
    }
}