.orders{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.order_card {
    position: relative;
    display: flex;
    border: 1px solid gray;
    padding-left: 15px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-right: 4px;
    &__heading {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 0 0 40%;
        a{
            color: black;
        }
        h2 {
            font-size: 18px;
            font-weight: 300;
            text-decoration: underline;
            word-break: break-all;
            cursor: pointer;
        }
        
    }

    &__info, &__date, &__price, &__remove {
        margin: 0 15px;
    }

    &__info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            height: 30px;
            width: 30px;
            path{
                fill: gray;
            }
            
        }
        div {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin-left: 20px;
            span{
                font-size: 25px;
                font-weight: 300;
                color: rgb(34, 34, 34);
            }
            p {
                margin:  0;
                font-size: 12px;
                color: gray;
            }
        }
    }

    &__price{
        flex-grow: 1;
    }
    &__date, &__price, &__remove {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
    }

    &__remove {
        background: transparent;
        border: none;
        outline: none;
        svg {
            width: 15px;
            height: 15px;
            fill: gray;
            transition: all .3s linear;
            cursor: pointer;
            &:hover {
                fill: rgb(235, 51, 51);
            }
        }
    }
}