.orders{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    &__heading {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 50px;
        &__button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: #88C057;
            border: 3px solid rgb(124, 170, 80);
            line-height: 40px;
            box-sizing: border-box;
            color: white;
            border-radius: 50%;
            cursor: pointer;
        }
        span {
            position: relative;
            font-size: 25px;
            font-weight: 700;
            color: rgb(34, 34, 34);
            margin-left: 15px;
        }
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            width: 5px;
        }
          
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
           
          &::-webkit-scrollbar-thumb {
            background: #888;
            width: 5px;
            border-radius: 3px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #555; 
          }
    }
}

.order_card {
    position: relative;
    display: flex;
    border: 1px solid gray;
    padding-left: 15px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-right: 4px;
    &__heading {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 2;

        h2 {
            font-size: 18px;
            font-weight: 300;
            text-decoration: underline;
            cursor: pointer;
        }
        
    }

    &__info, &__date, &__price, &__remove {
        margin: 0 15px;
    }

    &__info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            height: 30px;
            width: 30px;
            path{
                fill: gray;
            }
            
        }
        div {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin-left: 20px;
            span{
                font-size: 25px;
                font-weight: 300;
                color: rgb(34, 34, 34);
            }
            p {
                margin:  0;
                font-size: 12px;
                color: gray;
            }
        }
    }

    &__price{
        flex-grow: 1;
    }
    &__date, &__price, &__remove {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
    }

    &__remove {
        background: transparent;
        border: none;
        outline: none;
        svg {
            width: 15px;
            height: 15px;
            fill: gray;
            transition: all .3s linear;
            cursor: pointer;
            &:hover {
                fill: rgb(235, 51, 51);
            }
        }
    }
}