.heading {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    &__button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #88C057;
        border: 3px solid rgb(124, 170, 80);
        line-height: 40px;
        box-sizing: border-box;
        color: white;
        border-radius: 50%;
        cursor: pointer;
    }
    span {
        position: relative;
        font-size: 25px;
        font-weight: 700;
        color: rgb(34, 34, 34);
        margin-left: 15px;
    }
}